<div id="fluxGeneral">
    {{#range 1 8}}
        <div class="safetyGeneral{{id}}" id=safetyGeneral{{id}}>
            <h6>Sg{{id}}</h6>
        </div>
    {{/range}}

    {{#range 1 3}}
        <div class="safetyGeneralT4{{id}}" id=safetyGeneralT4{{id}}>
            <h6>Sg{{id}}</h6>
        </div>
    {{/range}}

    {{#range 1 6}}
        <div class="safetyGeneralT2{{id}}" id=safetyGeneralT2{{id}}>
            <h6>Sg{{id}}</h6>
        </div>
    {{/range}}

    {{#range 1 6}}
        <div class="safetyGeneralT3{{id}}" id=safetyGeneralT3{{id}}>
            <h6>Sg{{id}}</h6>
        </div>
    {{/range}}
</div>

