<div class="flux" id="flux">
    {{#range 1 4}}
        <div class="m{{id}}" id=1{{id}}>
            <h6>M{{id}}</h6>
        </div>
    {{/range}}
    {{#range 1 19}}
        <div class="s{{id}}" id=2{{id}}><h6>S{{id}}</h6></div>
    {{/range}}
    <span class="sezor1">S1</span>
    <span class="sezor2">S2</span>
    <span class="sezor3">S3</span>
    <span class="sezor4">S4</span>
    <span class="sezor5">S5</span>
    <span class="sezor6">S6</span>
    <span class="sezor7">S7</span>
    <span class="sezor8">S8</span>
    <span class="sezor9">S9</span>
    <span class="sezor10">S10</span>
    <span class="sezor11">S11</span>
    <span class="sezor12">S12</span>
    <span class="sezor13">S13</span>
    <span class="sezor14">S14</span>
    <span class="sezor15">S15</span>
    <span class="sezor16">S16</span>
    <span class="sezor17">S17</span>
    <span class="sezor18">S18</span>
    <span class="sezor19">S19</span>
    {{#range 1 2}}
        <div class="i{{id}}" id=3{{id}}>
            <h6>St{{id}}</h6>
        </div>
    {{/range}}
    {{#range 1 1}}
        <div class="d{{id}}" id=4{{id}}>
            <h6>Div{{id}}</h6>
        </div>
    {{/range}}
    {{#range 1 2}}
        <div class="sf{{id}}" id=5{{id}}>
            <h6>Sf{{id}}</h6>
        </div>
    {{/range}}
    {{#range 1 2}}
        <div class="sfcon{{id}}" id=8{{id}}>
            <h6>Sfcon{{id}}</h6>
        </div>
    {{/range}}
    {{#range 1 6}}
        <div class="scon{{id}}" id=6{{id}}>
            <h6>Sc{{id}}</h6>
        </div>
    {{/range}}
    {{#range 1 6}}
        <div class="mcon{{id}}" id=7{{id}}>
            <h6>Mc{{id}}</h6>
        </div>
    {{/range}}

    <div class="encoder1">
        <label id="encoder1">0</label>
    </div>
    <div class="encoder2">
        <label id="encoder2">0</label>
    </div>
    
</div>
